body {
    font-family: 'Roboto', sans-serif;
    background-image: url(images/lasku.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#contents {
    background-color: rgba(205, 205, 205, 0.6) ;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 400px;
    width: 700px;
    border-radius: 3px;
}

#weather {
    position: relative;
    top: 40px;
}