body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  background-image: url(images/lasku.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  padding-top: 1em;
  text-decoration: underline;
}

#contents {
  margin-top: 2em;
  background-color: rgba(205, 205, 205, 0.6);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  height: 50em;
  width: 42.5rem;
  border-radius: 3px;
}

#info {
  display: grid;
  max-width: 100%;
  min-height: 85%;
  grid-template-rows:  7em 20em 7em;
  grid-template-columns: 21rem 21rem ;
  gap: 0.5rem;

}

#city {
    font-size: 1em;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

#databox1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

#databox2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

#databox1, #databox2 {
    margin-top: 1em;
    font-size: 1.2em;
}

ul li {
    list-style: none;
}

#searched {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

footer {
    background-color: rgba(205, 205, 205, 0.6);
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2em;
    padding-top: 0.5em;
}

h3 {
    font-size: 1em;
}


button.link {
    background:none;
    border: none;
    font-size: 1em;
    padding: 0.2em;
}

button.link:hover {
    color: rgb(180, 180, 180);
}

@media screen and (max-width: 730px) {
    #info {
        display: flex;
        flex-direction: column;
    }

    #contents {
        max-width: 90vw;
    }

    #databox1, #databox2 {
        margin-right: 2em;
    }

}